*{
  margin: 0;
}
.App{
  background-color: #fafafa;
}
.app__headerimage{
  width: 100px;
  height: 40px;
  object-fit: contain;
}
.app__header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: lightgray solid 1px ;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__signup{
  display:flex;
  flex-direction: column;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}